@import './../organisms/resumo';
@import './../organisms/servicos';
@import './../organisms/portfolio';
@import './../organisms/depoimentos';
@import './../organisms/blog';
@import './../organisms/contato';

.banner {
    background: {
        image: url('./../images/bg-azul.jpg');
        size: cover;
        position: bottom center;
        repeat: no-repeat;
    }
}

.nav-color {
    background-color: rgba($azul, .9) !important;
}

.btn-principal {
    background-color: $roxo;
    color: $branco;
    &:hover {
        background-color: darken($roxo, 10%);
    }
}

.sidenav-box {
    height: 100%;
    width: 100%;
    background-color: rgba($azul, .7);
    padding: 40px 0;
}