.depoimentos {
    background: {
        image: url('./../images/bg-depoimentos.jpg');
        size: cover;
        repeat: no-repeat;
        position: right top;
    }
    height: 100%;
    padding: 40px 0;
    .container {
        .depoimentos-area {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 40px;
            overflow: hidden;
            .depoimento-foto {
                margin: 0;
            }
            .owl-depoimento {
                margin-top: 20px;
                @include mq('desktop') {
                    margin-top: 0;
                }
                p {
                    color: $branco;
                    @include font-size(20px);
                    text-align: justify;
                    .amarelo {
                        color: $amarelo;
                    }
                }
                h3 {
                    text-align: right;
                    color: $amarelo;
                }
            }
        }
    }
}